.container {
    /*border: 5px solid blue;*/
    /*background-color: lightblue;*/
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
    gap: 8px;
    display: flex;
}

.container div {
    color: black;
    background: rgb(173, 167, 167);
    /*border: 4px solid salmon;*/
    font-size: 20px;
    text-align: center;
    flex: 1;
}